<style type="text/css">
  html {
    background-color: #eeeeee;
  }
  body {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
  }
  .featured {
    padding: 10px;
    border-top: 1px solid #333333;
  }
</style>
<h1><%= description %></h1>

<h2>Clients</h2>
<% _.each(clients, function (client) { %><div class="featured">
  <h3><%= client.name %></h3>
  <p><%= client.description %></p>
  <p><a href="<%= client.name %>">view</a></p>
</div><% }) %>

<h2>Targets</h2>
<% _.each(targets, function (target) { %><div class="featured">
  <h3><%= target.name %></h3>
  <p>description: <%= target.description %></p>
  <p>build path: <%= target.path %></p>
</div><% }) %>
